.adBanner-top {
	background-color: black;
	color: white;
	text-align: center;
}

.adBanner-top-wrapper {
	padding-top: 10px;
	padding-bottom: 80px;
}

.adBanner-top-text h3 {
	font-weight: 200;
}

.adBanner-top-button {
	border: 1px solid orange;
	background-color: orange;
	margin-top: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	max-width: 30%;
}

.adBanner-top-button a {
	color: white;
	padding-top: 15px;
}

.teamInfo {
	text-align: center;
}

.teamInfo img {
	text-align: center;
	height: 35%;
	z-index: 0;
}

.teamInfo h1 {
	font-size: 2em;
}

.teamName {
	padding-top: 5%;
    padding-left: 20px;
}

.jumbotron {
	margin-top: 15px;
}

.homeMenu a {
	color: black;
}

.homeMenu a:active, a:hover {
	color: orange;
}

.slideshowContent {
	text-align: center;
}

.teams ul {
	list-style: none;
	float: left;
}

.teams #aguilas {
	color: orange;
}

.currentGameScore ul {
	list-style: none;
	float: left;
	line-height: 1.9em;
}

.currentGameScore #aguilas {
	color: orange;
}

.gameStats {
}

.gameStats ul {
	list-style: none;
	float: left;
	line-height: 1.9em;
}

.gameStats #aguilas {
	color: orange;
}

.audio-video ul {
	margin-top: -10px;
	list-style: none;
}

.audio-video img {
	height: 10%;
}