.adBanner-top {
	background-color: black;
	color: white;
	text-align: center;
}

.teamInfo {
	text-align: center;
}

.teamInfo img {
	text-align: center;
	height: 35%;
	z-index: 0;
}

.teamInfo h1 {
	font-size: 2em;
}

.teamName {
	padding-top: 5%;
    padding-left: 20px;
}

.slideshow {

}

.active-link {
	color: orange !important;
}

.slideshowContent {
	text-align: center;
}

.teams ul {
	list-style: none;
	float: left;
}

.teams #aguilas {
	color: orange;
}

.currentGame {
	background-color: lightgray;
	margin-top: -10px;
}

.currentGameHeader {
	text-align: center;
}

.currentGameHeader h4 {
	font-weight: 200;
	font-size: 1.5em;
}

.currentGame section {
	padding-top: 10px;
}

.currentGame table {
	background-color: lightgray;
	border: none;
}

.currentGame th, tr, td {
	border: 0 !important;
	font-weight: 200;
	text-align: center;
}

.teamData {
	background-color: gray !important;
	font-weight: 400 !important;
}

#base2 {
	width: 40px; 
	height: 40px; 
	background: gray;
	margin: 40px 0px 0px 90px;
	/* Rotate */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* Rotate Origin */
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

#base1 {
	width: 40px; 
	height: 40px; 
	background: gray;
	margin: 0px 0px 0px 130px;
	/* Rotate */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* Rotate Origin */
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

#base3 {
	width: 40px; 
	height: 40px; 
	background: gray;

	margin: -40px 0px 0px 50px;
	/* Rotate */
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	/* Rotate Origin */
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
   transform-origin: 0 100%;
}

.base {
	transition: .5s ease-in;
}

.fullBase {
	background: orange !important;
	transition : .5s ease-in;
}

/* Centering for bases on smaller screens */
@media (min-width: 530px) and (max-width: 991px) {
	.diamond {
		padding: 300px 0px 0px 80px;
	}	
}

/* Centering for current batter on smaller screens */
@media (min-width: 707px) and (max-width: 991px) {
	.currentBatter {
		padding-left: 75px;
	}
}

.balls li, .strikes li, .outs li {
	padding: 0px 10px 0px 10px;
	float: left;
}

#indicator {
	font-weight: 400;
	font-size: 2em;
}

#circle { 
   width: 28px;
   height: 28px;
   background: gray; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
   padding-right: 5px;
   margin: 7px 3px 0px 0px;
   transition: .5s ease-in;
}

.checked {
	background-color: black !important;
	transition: .5s ease-in;
}

.outsChecked {
	background-color: red !important;
	transition : .5s ease-in;
}

.outs #indicator {
	margin-right: -3px;
}

.currentBatter img {
	height: 30%;
}

tr#aguilasScore {
	color: orange;
}

.audio-video {
	text-align: center;
}

.audio-video img {
	height: 80px;
}

/* Audio and video images resizing for tablets and mobiles */
/*@media (max-width: 991px) {
	.audio-video img {
		height: 150px;
	}
}*/

.ads-Review {
	padding-top: 15px;
}

.adBanner-left .jumbotron {
	background-color: black;
	color: white;
	text-align: center;
}

.adBanner-left h3 {
	font-weight: 200;
	padding-top: 50px;
	padding-bottom: 100px;
}

#adBanner-left-button {
	border: 1px orange solid;
	background-color: orange;
	text-align: center;
	padding: 15px;
	max-width: 40%;
	color: white;
	text-decoration: none;
}

.gameReview {
	background-color: lightgray;
	text-align: center;
	font-weight: 200;
	padding-top: 8px;
	padding-bottom: 22px;
	margin-bottom: 15px;
}

.gameReview h3 {
	padding-bottom: 10px;
}

.gameReview a {
	color: orange;
	float: right;
	font-weight: 400;
	height: 81px;
	padding-right: 10px;
	text-decoration: none;
}

.reviewText {
	font-size: .95em;
}

.adBanner-right .jumbotron {
	background-color: black;
	color: white;
	text-align: center;
}

.adBanner-right h3 {
	font-weight: 200;
	padding-top: 50px;
	padding-bottom: 100px;
}

#adBanner-right-button {
	border: 1px orange solid;
	background-color: orange;
	text-align: center;
	padding: 15px;
	max-width: 40%;
	color: white;
	text-decoration: none;
}

/* Bootstrap's default property overriding */

table {
	border-collapse: inherit !important;
	background-color: white;
	border-spacing: 10px;
	cellspacing: 10;
}

.table {
	margin-bottom: 0px;
}

.table-responsive {
	border: 0px;
}

.borderless td, .borderless th {
	border: none !important;
}

/* Overriding ending */

.tableBg {
	background-color: lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}

.informationTable h4 {
	text-align: center;
	font-weight: 200;
	background-color: orange;
	color: white;
	padding: 5px;
}

.informationTable a {
	color: orange;
	text-decoration: none;
	float: right;
}

.informationTable p {
	background-color: white;
	padding: 5px 5px;
}

.teamsLeaderTable p {
	background-color: white;
	padding: 5px 5px;
}

.informationTable th {
	background-color: orange;
    text-align: center;
    color: white;
    font-weight: 200;
}

iframe {
	border-bottom: 10px solid orange !important;
}